.infobox {
	padding: 0.5em 1em;
	border-radius: 3px;
	color: white;
	background: #54aeee;

	a {
		color: white;
		text-decoration: underline;
	}

	&.info {
		background: #54aeee;
	}

	&.warning {
		background: #f3c115;
	}

	&.error {
		background: #f25637;
	}

	&.success {
		background: #2fb84c;
	}

	&.blank {
		color: #333;
		border: 1px solid #eee;
	}

	&.neutral {
		background: #3e414d;
	}

}